section.hero
  .hero__container.container
    .hero__inner
      h1.hero__title Your personal cook
      p.hero__slogan The balanced diet for every day
      button.hero__btn.btn Make your choice
      .hero__img
        img(src="./imgs/header/hero-img.png" alt="")
      .hero__shadow
        img(src="./imgs/header/shadow.png", alt="")
      .hero__decor-1: img(src="./imgs/header/hero-d-1.svg" alt="")
      .hero__decor-2: img(src="./imgs/header/hero-d-2.png" alt="")
      .hero__decor-3: img(src="./imgs/header/hero-d-3.png" alt="")
      .hero__decor-4: img(src="./imgs/header/hero-d-4.png" alt="")
      .hero__decor-5: img(src="./imgs/header/hero-d-5.png" alt="")
