// FOOTER
footer.footer
  .footer__decor-1
      img(src="./imgs/footer/decor-1.png")
  .footer__decor-2 
    img(src="./imgs/footer/decor-2.svg")
  .footer__container.container
    .footer__info
      a.footer__logo(href="index.html" aria-label="Home page")
        img(src="./imgs/footer/footer-logo.svg" alt="Logo" width="183" height="61")
      .footer__socials
        a.footer__link(href="#")
          img(src="./imgs/icons/telegram-white.svg")
        a.footer__link(href="#")
          img(src="./imgs/icons/instagram-white.svg")
        a.footer__link(href="#")
          img(src="./imgs/icons/facebook-white.svg")
    .footer__nav
      ul.footer__links.footer__links--medium
        li: a.footer__link(href="#") Menu
        li: a.footer__link(href="#") Delivery
        li: a.footer__link(href="#") FAQ
        li: a.footer__link(href="#") Contacts
      ul.footer__links.footer__links--light
        li: a.footer__link(href="#") Privacy Policy
        li: a.footer__link(href="#") Terms and Conditions
    .footer__address
      ul.footer__links.footer__links--bolder
        li: a.footer__link(href="#")
          img(src="./imgs/icons/location-white.svg")
          | Tbilisi, Georgia
        li: a.footer__link(href="tel:591902883")
          img(src="./imgs/icons/phone-white.svg")
          | 591902883 (9:00 - 18:00)
        li: a.footer__link(href="mailto:")
          img(src="./imgs/icons/mail-white.svg")
          | info@chef-kitchen.com
      ul.footer__address-text
        li: | Individual entrepreneur Nikita Mosin 
        li: | Identification Number: 302252210
  p.container.footer__copyright Chef Kitchen 2023