// HEADER
header.header
  .header__container.container
    // BAR ICON
    .header__bar-icon.header__bar-icon--acstive
      span
      span
      span
    // LOGO
    a.header__logo.logo(href="index.html", aria-label="Home page")
      img.logo__mobile(src="./imgs/header/mobile-logo.svg", alt="Brand logo", width="103", height="35")
      img.logo__desktop(src="./imgs/header/logo.svg", alt="Brand logo", width="183", height="62")
    // NAVBAR
    nav.header__nav.nav
      ul.nav__list
        li.nav__item.nav__item--active
          a.nav__link(href="#") Menu
        li.nav__item
          a.nav__link(href="#") Delivery
        li.nav__item
          a.nav__link(href="#") FAQ
        li.nav__item
          a.nav__link(href="#") Contacts
    a.header__call(href="tel:+99812345678") 
      img(src="./imgs/icons/phone-black.svg")
      | 591 902 883
    .header__lang.lang
      .lang__items
        each val, index in ['en']
          label(for = index)
            input.lang__input(type="radio", id = index, value = val, name="lang")
            span.lang__text= val
      .lang__icon
        img(src="./imgs/icons/arrow-down.svg")
    a.header__auth.btn(href="#") 
      img(src="./imgs/icons/avatar.svg")
      span Sign in